<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark-poole">
  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>

          <nav class="nav">
            {% for nav in site.nav %}
            <small><a href="{{ nav.url }}">{{ nav.title }}</a></small>
            {% endfor %}
          </nav>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer"> <h6>W. de Barros Dantas Paniágua. 2022</h6><span class="credits left">Assine minha <a href="https://newsletter.w4lker.com.br/">newsletter da revue</a>
        <p>
          <p><hr><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Este obra está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Atribuição 4.0 Internacional</a>.
            <hr>
      </footer>
    </div>

    {% if site.ga_analytics %}
    <script src="https://getinsights.io/js/insights.js"></script>
<script>
insights.init("my project")
insights.trackPages()
</script>
    {% endif %}
  </body>
</html>
